<main>
<h2>User info </h2>

<!--User infoの表示部分 -->
<table>
 <tbody>
   <tr><%= image_tag @user.get_profile_image(100,100) %></tr>
   <th>name</th>
   <th><%= @user.name %></th>
   <tr/>
   <th>introduction</th>
   <th><%= @user.introduction %></th>
   <tr/>
 </tbody>
</table>

<!--New bookの入力部分 -->
  <h2>new book</h2>
  <%= form_with model: @book do |f| %>
  <label>Title</label>
  <p><%= f.text_field :title %></p>
  <table>Opinion</table>
 <p><%= f.text_field :text %></p>

  <%= f.submit 'Create Book' %>
  <% end %>

<!--Users の一覧部分-->

<h2>Users</h2>
<table>
  <thead>
    <th></th>
    <th>image_tag</th>
    <th>name</th>
    <th colspan="1"></th>
  </thead>
  
  <!--ユーザー画像、名前、リンクの表示 -->
 <tbody>
   <table>
    <% @users.each do |user| %>
      <tr>
       <td><%= image_tag user.get_profile_image(100,100) %></td>
       <td><%= user.name %></td>
       <td><%= link_to "show", user_path(user) %> </td>
     </tr>
    <% end %>
   </tbody>
 </table>


