<main>
  <p id="notice"><%= flash[:notice] %></p>
  <div class='container px-5 px-sm-0'>
    <div class='row'>
      <div class='col-md-3'>
        <h2>User info</h2>
  <% if book.errors.any? %>
　　<%= book.errors.count %> errors prohibited this book from being saved:
　 <ul>
　  <% book.errors.full_messages.each do |message| %>
　   <li><%= message %></li>
  <% end %>
   </ul>
  <%end%>

<!--User infoの表示部分 -->
<table>
   <tr><th><%= image_tag user.get_profile_image(100,100) %></th></tr>
   <tr>
   <th>name</th>
   <th><%= user.name %></th>
   <tr/>
   <tr>
   <th>introduction</th>
   <th><%= user.introduction %></th>
   <tr/>
   <tr>
 </table>
    <div class='row'>
      <a class="btn btn-outline-secondary btn-block" href="<%= edit_user_path(user) %>">
         <i class="fas fa-user-cog"></i>
      </a>
    </div>


<!--New bookの入力部分 -->
  <h2 class="mt-3">new book</h2>

  <%= form_with model: book do |f| %>
  　<label>Title</label>
  　<p><%= f.text_field :title %></p>
  　<table>Opinion</table>
  　<p><%= f.text_field :body %></p>
  　<%= f.submit 'Create Book' %>
  <% end %>
  </main>